@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    height: 100%;
    width: 100%;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.invible_button {
    border: none;
    background-color: inherit;
}

.material-symbols-outlined { 
    color: #565656;
}

.extra-big-icon {
    font-size: 2rem;
}

.big-icon {
    font-size: 1.7rem;
}

.small-icon {
    font-size: 0.8rem;
}

#conteiner {
    display: flex;
    flex-direction: row;
}

#info {
    width: 30%;
    background-color: #333;
}

#map {
    width: 70%;
    height: 100vh;
}

#app_title {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 3.5em;
    text-decoration: italic;
    padding-top: 0.1em;
    color: aliceblue;
}

#search_form {
    width: 80%;
    display: flex;
    height: 3em;
    margin: 2% 10%;
    align-items: center;
    /*border: 1px solid currentColor;*/
    background-color: #FFF;
    border-radius: 10px;
}

#search_form button {
    margin-top: 1%;
    padding: 0.5% 0.5em;
}

#separator {
    border-left:1px solid #333;
    height: 50%;
    padding: 2.5% 0;
}

#searchQuery {
    border: none;
    width: 80%;
    font-size: 1.2em;
    padding: 0em 0.7em;
    background: none;
}

#optionsList {
    display: flex;
    flex-direction: row;
    margin: 3em 0.5em;
    list-style-type: none;
    gap: 10%;
}

#optionsList > li {
    display: flex;
    flex-direction: column;
}

#optionsList span {
    margin: 1% auto;
    color: #FFF;
    font-size: 2em;
}

#optionsList p {
    font-size: 0.7em;
    font-family: 'Press Start 2P', cursive;
    padding: 0.5em;
    color: #FFF;
}

#optionsList button {
    display: flex;
    flex-direction: row;
}

#route_def {
    display: none;
}

#route_form {
    margin: 3em 0.5em;
}

#vehicle {
    display: flex;
    flex-direction: row;
    margin: 2% 1.5%;
    gap: 2.5%;
    justify-content: center;
}

#vehicle span {
    color: #FFF;
}

#conteiner {
    display: flex;
    flex-flow: row;
}

#labelIcons {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0.5% 2% 2% 10.5%;
    align-items: center;
}

#labelIcons span {
    color: #FFF;
}

#routeInputs {
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0.625rem 0;
    gap: 40%;
    height: auto;
}

#routeInputs input[type=text] {
    height: 2.7rem;
    width: 100%;
}

#routeStartBtn {
    width: 10rem;
    background-color: #FFF;
    color: #565656;
    margin: 0 35%;
}

#itemsList {
    width: 55%;
    margin: auto;
}

.btn-itens-align {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#pageTitle {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 2em;
    text-decoration: italic;
    padding-top: 0.1em;
    color: aliceblue;
}

#localList{
    margin-top: 5rem;
}